version: "3.9"

services:
  web:
    build: .
    volumes:
      - ./:/app
    container_name: todo_app
    image: todo_app_image
    ports:
      - "5001:5001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    networks:
      - gigalogy-dev
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: flask_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - gigalogy-dev
    restart: unless-stopped

volumes:
  pg_data:

networks:
  gigalogy-dev:
    external: true
